* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('../fonts/Roboto-Regular.ttf');
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--main-bg-color);
}
:root {
    --main-text-color: #000000;
    --main-bg-color: #FFFFFF;
    --main-color: #0082F4;
    --font-weight: 400;
    --font-size-p: 20px;
}
.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}
 nav {
    width: 100%;
    background-color: var(--main-bg-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
 }
.menu_img {
    margin-right: 70px;
}
 .menu, .menu_ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    column-gap: 40px;
}
.menu {
    column-gap: 230px;
    margin-top: 27px;
    height: 81px;

 }
.menu_ul-li-a {
    text-decoration: none;
    color: var(--main-text-color);
    font-weight: var(--font-weight);
    font-size: var(--font-size-p);
    line-height: 23.5px;
}
.menu_ul-li-a:hover {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
    padding-bottom: 33px;
}
.btn {
    background-color: var(--main-color);
    color: var(--main-bg-color);
    font-size: var(--font-size-p);
    border: 1px solid transparent;
    border-radius: 6px;
    line-height: 23.5px;
    cursor: pointer;
}
.btn:hover {
    background-color: var(--main-bg-color);
    color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 6px;
    cursor: pointer;
}
.btn--nav {
    padding: 15px 30px;
    font-weight: var(--font-weight);
}
.hero {
    display: flex;
    column-gap: 80px;
    margin-top: 200px;
    height: 500px;
}
.hero__content{
    margin-top: 70px;
}
.hero__content-span {
    font-weight: var(--font-weight);
    font-size: 25px;
    color: var(--main-color);
    line-height: 29px;
    letter-spacing: 10%;
    margin-bottom: 5px;
}
.hero__content-h1 {
    width: 600px;
    font-weight: 700;
    font-size: 61px;
    line-height: 79px;
}
.hero__content-p {
    margin-top: 20px;
    width: 436px;
    font-weight: var(--font-weight);
    font-size: 16px;
    line-height: 24px;
    opacity: 60%;
}
.hero__content-h1-span {
    color: var(--main-color);
}
.hero_content-bottom {
    margin-top: 30px;
    display: flex;
    column-gap: 15px;
}
.btn--main {
    border-radius: 10px;
    padding: 20px 46px;
    font-weight: 500;
}
.hero_content-bottom-videologo {
    margin-left: 45px;
    margin-top: 30px;
    background-color: var(--main-color);
    width: 29px;
    height: 29px;
    border-radius: 50%;
    padding: 5px 11px;
    cursor: pointer;
}
.hero_content-bottom p {
    margin-top: 35px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}
.about {
    display: flex;
    column-gap: 185px;
    margin-bottom: 212px;
}
.about_content {
    margin-top: 110px;
}
.about_content-span {
    font-weight: 500;
    font-size: 25px;
    letter-spacing: 10%;
    line-height: 29px;
    color: var(--main-color);
}
.h2 {
    font-weight: 700;
    font-size: 49px;
    line-height: 64px;
}
.about_content-p {
    margin: 20px 0 30px;
    font-weight: 400px;
    font-size: 20px;
    line-height: 30px;
    opacity: 60%;
}
.work_h2 {
    text-align: center;
    font-weight: 500;
    font-size: 49px;
    line-height: 73px;
}
.work_cardbox {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    column-gap: 81px;
}
.customers {
    margin: 112px auto;
}
.customers .customers_head {
    display: flex;
    justify-content: space-between;
}
.customers .customer_cardbox {
    display: flex;
    margin: 50px auto;
}
.customers .customer_cardbox-card {
    display: flex;
    align-items: center;
    border-radius: 15px;
    border: 1px solid rgba(0,0,0,0.1);
    height: 250px;
    width: 35%;
    margin-right: 5%;
}
.customers .customer_cardbox-card .blueside {
    display: flex;
    align-items: center;
    background-color: #0082F4;
    height: 100%;
    border-radius: 15px 0 0 15px;
    width: 80px;
}
.customers .customer_cardbox-card .blueside img {
    position: relative;
    margin: 0 -20px 0 20px;
    width: 65px;
}
.customers .customer_cardbox-card .customer_cardbox_card_content {
    padding: 50px;
}
h1 second mayor